<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>addToCartFilter</filter-name>
        <filter-class>Filter.addToCartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>addToCartFilter</filter-name>
        <url-pattern>/client/addToCart.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>addToCartFilter</filter-name>
        <url-pattern>/addToCartController</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>Controller.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>Controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomers</servlet-name>
        <servlet-class>Controller.editCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCustomer</servlet-name>
        <servlet-class>Controller.updateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomers</servlet-name>
        <servlet-class>Controller.deleteCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCustomer</servlet-name>
        <servlet-class>Controller.listCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetail</servlet-name>
        <servlet-class>Controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassController</servlet-name>
        <servlet-class>Controller.changePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>Controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCustomer</servlet-name>
        <servlet-class>Controller.searchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchProduct</servlet-name>
        <servlet-class>Controller.searchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>Controller.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>Controller.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPassController</servlet-name>
        <servlet-class>Controller.createPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listEmployee</servlet-name>
        <servlet-class>Controller.listEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchEmployee</servlet-name>
        <servlet-class>Controller.searchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployee</servlet-name>
        <servlet-class>Controller.addEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEmployee</servlet-name>
        <servlet-class>Controller.editEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileController</servlet-name>
        <servlet-class>Controller.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartController</servlet-name>
        <servlet-class>Controller.addToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartController</servlet-name>
        <servlet-class>Controller.updateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmployee</servlet-name>
        <servlet-class>Controller.deleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepageManage</servlet-name>
        <servlet-class>Controller.homepageManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutController</servlet-name>
        <servlet-class>Controller.checkoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>Controller.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bannerSetting</servlet-name>
        <servlet-class>Controller.bannerSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>Controller.addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategory</servlet-name>
        <servlet-class>Controller.editCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategory</servlet-name>
        <servlet-class>Controller.deleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateNew</servlet-name>
        <servlet-class>Controller.updateNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listNew</servlet-name>
        <servlet-class>Controller.listNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexController</servlet-name>
        <servlet-class>Controller.indexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNew</servlet-name>
        <servlet-class>Controller.editNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteNew</servlet-name>
        <servlet-class>Controller.deleteNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNew</servlet-name>
        <servlet-class>Controller.addNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userPurchase</servlet-name>
        <servlet-class>Controller.userPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>Controller.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prepareOrder</servlet-name>
        <servlet-class>Controller.prepareOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitOrder</servlet-name>
        <servlet-class>Controller.submitOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>warrantyCheck</servlet-name>
        <servlet-class>Controller.warrantyCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitShipping</servlet-name>
        <servlet-class>Controller.submitShipping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>warrantyRequest</servlet-name>
        <servlet-class>Controller.warrantyRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminWarranty</servlet-name>
        <servlet-class>Controller.adminWarranty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatController</servlet-name>
        <servlet-class>Controller.chatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchNew</servlet-name>
        <servlet-class>Controller.searchNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutVnpayController</servlet-name>
        <servlet-class>Controller.checkoutVnpayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>warrantyTracking</servlet-name>
        <servlet-class>Controller.warrantyTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainternanceController</servlet-name>
        <servlet-class>Controller.MainternanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createMaintenance</servlet-name>
        <servlet-class>Controller.createMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptMaintenance</servlet-name>
        <servlet-class>Controller.acceptMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewProduct</servlet-name>
        <servlet-class>Controller.reviewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStatus</servlet-name>
        <servlet-class>Controller.editStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>Controller.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stock</servlet-name>
        <servlet-class>Controller.Stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>maintenanceRequest</servlet-name>
        <servlet-class>Controller.maintenanceRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCoupon</servlet-name>
        <servlet-class>Controller.manageCoupon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCoupon</servlet-name>
        <servlet-class>Controller.addCoupon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCoupon</servlet-name>
        <servlet-class>Controller.editCoupon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/productController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomers</servlet-name>
        <url-pattern>/editCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomers</servlet-name>
        <url-pattern>/deleteCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetail</servlet-name>
        <url-pattern>/Detail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassController</servlet-name>
        <url-pattern>/changePassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCustomer</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCustomer</servlet-name>
        <url-pattern>/updateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCustomer</servlet-name>
        <url-pattern>/listCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchProduct</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPassController</servlet-name>
        <url-pattern>/createPassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listEmployee</servlet-name>
        <url-pattern>/listEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchEmployee</servlet-name>
        <url-pattern>/searchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editEmployee</servlet-name>
        <url-pattern>/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileController</servlet-name>
        <url-pattern>/profileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartController</servlet-name>
        <url-pattern>/addToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartController</servlet-name>
        <url-pattern>/updateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepageManage</servlet-name>
        <url-pattern>/homePageManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutController</servlet-name>
        <url-pattern>/checkoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bannerSetting</servlet-name>
        <url-pattern>/bannerSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/categoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategory</servlet-name>
        <url-pattern>/editCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategory</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateNew</servlet-name>
        <url-pattern>/updateNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listNew</servlet-name>
        <url-pattern>/listNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexController</servlet-name>
        <url-pattern>/indexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNew</servlet-name>
        <url-pattern>/editNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteNew</servlet-name>
        <url-pattern>/deleteNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNew</servlet-name>
        <url-pattern>/addNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userPurchase</servlet-name>
        <url-pattern>/userPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prepareOrder</servlet-name>
        <url-pattern>/prepareOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitOrder</servlet-name>
        <url-pattern>/submitOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>warrantyCheck</servlet-name>
        <url-pattern>/warrantyCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitShipping</servlet-name>
        <url-pattern>/submitShipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>warrantyRequest</servlet-name>
        <url-pattern>/warrantyRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminWarranty</servlet-name>
        <url-pattern>/adminWarranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatController</servlet-name>
        <url-pattern>/chatController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchNew</servlet-name>
        <url-pattern>/searchNew</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutVnpayController</servlet-name>
        <url-pattern>/checkoutVnpayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>warrantyTracking</servlet-name>
        <url-pattern>/warrantyTracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainternanceController</servlet-name>
        <url-pattern>/MainternanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createMaintenance</servlet-name>
        <url-pattern>/createMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptMaintenance</servlet-name>
        <url-pattern>/acceptMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewProduct</servlet-name>
        <url-pattern>/reviewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStatus</servlet-name>
        <url-pattern>/editStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stock</servlet-name>
        <url-pattern>/Stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maintenanceRequest</servlet-name>
        <url-pattern>/maintenanceRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCoupon</servlet-name>
        <url-pattern>/manageCoupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCoupon</servlet-name>
        <url-pattern>/addCoupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCoupon</servlet-name>
        <url-pattern>/editCoupon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
